.textbox{
  display: flex;
  flex-direction: column;
   width:500px;
   height:null;
   background-color: lightgrey;
   justify-content: center;
   align-items:flex-start;
color: rgb(255, 75, 0);
};
.indent{};
.boxlien{
  display: flex;
  flex-direction: column;
   width:500px;
   height:null;
   background-color: lightgrey;
   justify-content: center;
   align-items:flex-start;
color: rgb(204,217, 206);
};

.h1{
  color:rgb(255,13,255);
}

.fullPage{
font-family:'Ubuntu',sans-serif;
margin-left:100px;
}

p{
  font-size: 14px;
}
